.home {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__loading {
  color: #3b82f6;
  text-align: center;
}

.home__button {
  margin-top: 40px;
  padding: 12px 24px;
  background: #3b82f6;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  opacity: 1;
  font-size: 16px;
}

.home__button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

